*.obj
*.o
*.exe
*.class
*.tar
*.tgz
*.gz
*.suo
.*.swp
~*
*~
*.psess
.metadata
.tmp
.tmp_bin
*.user
*.testsettings
obj/
bin/
*.vspx
*.coverage
/Prog1/XMLParse/dist/
/Prog1/XMLParse/build/built-jar.properties
/Prog1/XMLParse/build/classes/.netbeans_automatic_build
/Prog1/XMLParse/build/classes/.netbeans_update_resources
/Prog1/XMLParse/nbproject/private/private.properties

/Prog1/XMLParse/build/



